body {
  font-family: 'Share Tech Mono';
  background-color: #b3b3b3;
}

#mainbox {
  padding-top: 2rem;
  padding-left: 3rem;
  position: fixed;
  font-size: 2rem;
  cursor: pointer;
  transition: all .9s;
  color: black;
}

.sidemenu {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 0px;
  background-color: black;
  z-index: 1;
  padding-top: 100px;
  overflow-x: hidden;
  transition: all .5s;
}

.sidemenu ul {
  list-style-type: none;
}

h5 {
  padding-left: 40px;
  font-size: 32px;
  color: white;
}

.sidemenu a {
  padding-left: 1px!important;
  padding: 8px 8px 8px 64px;
  text-decoration: none;
  font-size: 1.3rem;
  color: #999;
  display: block;
}

.sidemenu a:hover {
  color: white;
}

.sidemenu .closebtn {
  position: absolute;
  top: 0px;
  right: 25px;
  font-size: 36px;
  margin-left: 32px;
}


h4 {
  z-index: 1;
  color: black;
  position: absolute;
  top: 40%;
  left: 40%;
  font-size: 5rem;
}

#list-show {
  display: none;
}

.on-click li {
  list-style-type: none;
  color: white;
  margin-left: -20px;
  font-size: 1rem;
}

.main-link:hover #list-show {
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  display: block;
}

.about-bio {
  padding-top: 1rem;
}

.about-heading {
  padding-top: 5rem;
  font-size: 3rem;
}
