.button {
  position: absolute;
  width: 500px;
  left:0;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.pics button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: .2s;
}

.pics h5 {
  text-align: left;
  font-family: 'Barlow Condensed', sans-serif;
  margin-top: 2px;
}

.pics h6 {
  text-align: left;
  font-family: 'Barlow Condensed', sans-serif;
  color: gray;
  margin-top: -12px;
}

.description {
  display: none;
  text-align: left;
  font-family: 'Barlow Condensed', sans-serif;
  color: black;
  background-color: rgb(220,220,220, 0.5);
  padding: 5px;
  margin-right: 85px!important;
  margin-left: 85px!important;
}


.morgan-link {
  color: #ff748c;
}

.morgan-link:hover {
  color: #ffa7b6;
}

.george-link {
  color: #335EFF;
}

.george-link:hover {
  color: #5D7FFD;

}
