.button {
  position: absolute;
  width: 500px;
  left:0;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.pics button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: .2s;
}

.pics h5 {
  text-align: left;
  font-family: 'Barlow Condensed', sans-serif;
  margin-top: 2px;
}

.pics h6 {
  text-align: left;
  font-family: 'Barlow Condensed', sans-serif;
  color: gray;
  margin-top: -12px;
}

.description {
  display: none;
  text-align: left;
  font-family: 'Barlow Condensed', sans-serif;
  color: black;
  background-color: rgb(220,220,220, 0.5);
  padding: 5px;
  margin-right: 85px!important;
  margin-left: 85px!important;
}


.morgan-link {
  color: #ff748c;
}

.morgan-link:hover {
  color: #ffa7b6;
}

.sean-link {
  color: #F97D37;
}

.sean-link:hover {
  color: #FC965C;
}

.jack-link {
  color: #0DC03E;
}

.jack-link:hover {
  color: #4CD572;
}

.jonathan-link {
  color: #881540;
}

.jonathan-link:hover {
  color: #B21D55;
}

.emmanuel-link {
  color: #35C2C0;
}

.emmanuel-link:hover {
  color: #45E4E2;
}

.linette-link {
  color: #654EB8;
}

.linette-link:hover {
  color: #9480DF;
}

.allan-link {
  color: #FF900B;
}

.allan-link:hover {
  color: #FBC27D;
}

.george-link {
  color: #335EFF;
}

.george-link:hover {
  color: #5D7FFD;
}

.gjm-link {
  color: #335EFF;
}

.gjm-link:hover {
  color: #5D7FFD;
}

.laufer-link {
  color: #335EFF;
}

.laufer-link:hover {
  color: #5D7FFD;
}

.shilpika-link {
  color: #654EB8;
}

.shilpika-link:hover {
  color: #9480DF;
}

.neil-link {
  color: #E74C3C;
}

.neil-link:hover {
  color: #F1948A;
}
